unzip coreutils curl git python3 protobuf-devel leveldb-devel snappy-devel opencv-devel hdf5-devel protobuf-compiler atlas-devel atlas-corei2-devel atlas-static git python3-devel python3-numpy automake cmake make byacc redhat-lsb-core python3-scipy gflags-devel glog-devel lmdb-devel swig graphviz libxslt-devel libxml2-devel gcc-gfortran libgfortran python3-yaml python3-nose python-numpy python3-tkinter python3-pip python-pip tar wget graphviz-devel lapack-devel gcc-c++
